/* Link og knapper styling */
a{
	transition: 0.5s;
	text-decoration: underline !important;
}
a:hover{
	color: #C03E24 !important;
	transition: 0.5s;
}
a.elementor-button {
	text-decoration: none !important;
}
a.elementor-button:hover {
	color: #ffffff !important;
}
/* Gør header sticky */ 
#site-header{
	position: sticky;
	top: 0;
	z-index: 1000;
}
/* Header styling */
header a{
	text-decoration: none !important;
}
button.site-navigation-toggle{
	padding: 0 !important;
}
.site-navigation-dropdown ul.menu li.current-menu-item a{
	background-color: #FDEFEE !important;
	color: #C03E24;
}
button.site-navigation-toggle{
	background-color: #FCCCD8 !important;
}
.site-navigation-toggle-icon{
	color: #000000 !important;
}
.site-branding.show-logo{
	padding-left: 10px;
}
/* Footer styling */
footer a{
	text-decoration: underline !important;
	text-transform: none;
}
p {
    margin-block-end: 0 !important;
}
hr{
	border: solid 1px #FFFCEB !important;
	width: 100px;
}
@media only screen and (max-width: 768px) {
	
    .wpcf7-form-control.wpcf7-date.wpcf7-validates-as-required.wpcf7-validates-as-date {
        width: 100% !important;
        max-width: 320px !important;
        margin: 0 auto;
    }
}
.swiper-slide-inner{
	transition: 0.5s;
}
.swiper-slide-inner:hover{
	transform: scale(1.04);
	transition: 0.5s;
}
.swiper-pagination-bullet{
	background: #FCCCD8;
}

/* Kontaktformular styling */
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required, textarea.wpcf7-form-control.wpcf7-textarea, input.wpcf7-form-control.wpcf7-date.wpcf7-validates-as-required.wpcf7-validates-as-date, .e-n-accordion-item-title, .wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required  {
	border: 1px solid #7D944A !important;
	border-radius: 25px;
}
.wpcf7-form-control.wpcf7-date.wpcf7-validates-as-required.wpcf7-validates-as-date{
	margin-bottom: 20px;
}
span.wpcf7-list-item { 
	display: block; 
}
.wpcf7-not-valid-tip, label{
	padding-top: 10px;
	padding-bottom: 10px;
}
.faq-content{
	margin-top: -1px;
}
label{
	width: 100% !important;
}
input[type="checkbox"], input[type="radio"] {
	accent-color: #7D944A;
}
h3{
	font-weight: 700;
}
.overlay h2{
	color: #000000 !important;
}
/* Gør smage og bund til to kolonner */
@media (min-width: 768px) {
    .cf7-two-columns {
        display: flex;
        gap: 20px; /* Space between columns */
    }
    .cf7-column-left,
    .cf7-column-right {
        flex: 1; /* Each column takes up equal space */
    }
}
/* FAQ styling */
.e-fas-minus, .e-fas-plus {
	fill: #7D944A !important;
}
.faq-content{
/* 	border: 1px solid #7D944A !important; */
	border-top: none !important;
}
/* Sliding text i solbær-smag-sektion */
.marquee {
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: .6rem;
	padding-top: 20px;
	padding-bottom: 1rem;
	background-color: #7E2178;
}
.marquee__group {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: .6rem;
/* 	min-width: 100%; */
	max-width: min-content !important;
	animation: scroll 15s linear infinite;
}
.marquee__group span {
	color: white;
	font-size: 40px;
	font-weight: 800;
	white-space: nowrap;
	font-family: 'quicksand', sans-serif !important;
}
@keyframes scroll {
	from {
    	transform: translateX(0);
  	}
  	to {
    	transform: translateX(calc(-100% - .6rem));
  	}
}
@media only screen and (max-width: 768px) {
	.marquee {
	gap: .6rem;
}
.marquee__group {
	gap: .6rem;
}
    .marquee__group span {
        font-size: 40px;
    }
}